.containerCard {
  display: flex;
  padding: 40px 80px;
  transition: 1s;
}

::-webkit-scrollbar {
  display: none;
}

.containerCard a {
  text-align: left;
  margin-right: 10px;
}

.containerCard img {
  width: 300px;
}

.carousel {
  position: relative;
}

.handlePrevious {
  position: absolute;
  left: 1%;
  top: 35%;
  color: black;
}

.handleNext {
  position: absolute;
  right: 1%;
  top: 35%;
  color: black;
}

@media (max-width: 1020px) {
  .containerCard img {
    width: 250px;
  }
}
