.sectionContainer {
  margin-top: 100px;
}
.sectionContainer h2 {
  transform: translate(5%, 0);
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.categoryLink {
  margin: 10px;
}

.categoryLink > p {
  text-align: left;
}
